site_name: F5 XC API Fixed Specs
site_description: Validated and reconciled F5 Distributed Cloud OpenAPI specifications
site_url: https://robinmordasiewicz.github.io/f5xc-api-fixed/
repo_name: robinmordasiewicz/f5xc-api-fixed
repo_url: https://github.com/robinmordasiewicz/f5xc-api-fixed

theme:
  name: material
  custom_dir: docs/overrides
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - content.code.copy
    - toc.follow
  icon:
    repo: fontawesome/brands/github
    logo: material/api

plugins:
  - search
  - minify:
      minify_html: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.mark
  - admonition
  - tables
  - attr_list
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/robinmordasiewicz/f5xc-api-fixed
  generator: false

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/sidebar-fix.js
